/androidsdk-dev/*
/bevy-dev/*
/gcc-dev/*
/go-dev/*
/godot-dev/*
/haskell-dev/*
/heapsio-dev/*
/java-dev/*
/node-dev/*
/ocaml-dev/*
/python-dev/*
/reactnative-dev/*
/rust-dev/*
/wordpress-dev/*

!androidsdk-dev/Dockerfile
!androidsdk-dev/project.sh
!bevy-dev/Dockerfile
!bevy-dev/project.sh
!gcc-dev/Dockerfile
!gcc-dev/project.sh
!go-dev/Dockerfile
!go-dev/project.sh
!godot-dev/Dockerfile
!godot-dev/project.sh
!haskell-dev/Dockerfile
!haskell-dev/project.sh
!heapsio-dev/Dockerfile
!heapsio-dev/project.sh
!java-dev/Dockerfile
!java-dev/project.sh
!node-dev/Dockerfile
!node-dev/project.sh
!ocaml-dev/Dockerfile
!ocaml-dev/project.sh
!python-dev/Dockerfile
!python-dev/project.sh
!reactnative-dev/Dockerfile
!reactnative-dev/project.sh
!rust-dev/Dockerfile
!rust-dev/project.sh
!wordpress-dev/Dockerfile
!wordpress-dev/project.sh
